* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

#root {
  padding: 2em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
  color: #c4c4c4;
}

a:link {
  text-decoration: none;
}
