.l-nav {
  margin: 0px 2em 2em 2em;
}
.l-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.l-notification {
  position: absolute;
  bottom: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.l-search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15em;
  width: 15em;
  position: relative;
  /* margin: 5em; */
  /* background-color: red; */
}
.search-appear.left {
  transform: translate(-175%, -175%);
  z-index: 1;
  transition-duration: 0.5s;
}
.search-appear.right {
  transform: translate(75%, -175%);
  z-index: 1;
  transition-duration: 0.5s;
}
